* {
    box-sizing: border-box;
}

.userInfo{
    align-items: center;
    text-align: center;
}

table {
    width: 100%; /* Use full width */
    border-collapse: collapse; /* Merge borders */
    margin: 2vh auto; /* Center the table vertically and horizontally */
}

.firstRow {
    border-bottom: 2px solid navy; /* Bold border for the first row */
}

th, td {
    padding: 10px; /* Space inside cells */
    text-align: left; /* Left align text */
    vertical-align: middle; /* Center vertically */
    height: 40px; /* Set a consistent height */
    width: 25%; /* Use percentage for width to maintain proportion */
}

th {
    background-color: #f2f2f2; /* Light gray background for headers */
    font-weight: bold; /* Make headers bold */
}

td {
    background-color: lightgrey;
}

tr:hover {
    background-color: blue ; /* Highlight row on hover */
}