.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  width: 50%;
  color: rgb(2, 2, 2);
  align-items: center;
  left: 0;
  position: absolute;
  height: 100vh;

}

.App-info{
  background-color: grey;
  align-items: center;
  right: 0;
  width: 50%;
  top: 0;
  position:absolute;
  height: 100vh;

}

.App-logo{
  align-items: center;
  bottom: 50%;

}

.welcome{
  height: 100px;
  color: red;
}

.pinfo{
  height: 100px;
  align-items: center;
  color:rgb(255, 254, 254);
  font-size: calc(25px);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
